<a href="https://colab.research.google.com/github/arrubgn/BMI-Prediction/blob/main/BMI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np

In [12]:
import pandas as pd

In [15]:
bmidata=pd.read_csv(r"/content/BMI_male_female.csv")

In [16]:
bmidata.head()

   Gender  Height  Weight  Index
0    Male     174      96      4
1    Male     189      87      2
2  Female     185     110      4
3  Female     195     104      3
4    Male     149      61      3

In [17]:
from sklearn.neighbors import KNeighborsClassifier

In [8]:
teacher=KNeighborsClassifier(n_neighbors=1)

In [18]:
bmidata.iloc[:,0]

0        Male
1        Male
2      Female
3      Female
4        Male
        ...
495    Female
496    Female
497    Female
498      Male
499      Male
Name: Gender, Length: 500, dtype: object

In [19]:
bmidata.iloc[2:,2:]

     Weight  Index
2       110      4
3       104      3
4        61      3
5       104      3
6        92      5
..      ...    ...
495     153      5
496     121      4
497     136      5
498      95      5
499     131      5

[498 rows x 2 columns]

In [20]:
bmidata.iloc[::-1,::]

     Gender  Height  Weight  Index
499    Male     173     131      5
498    Male     150      95      5
497  Female     141     136      5
496  Female     184     121      4
495  Female     150     153      5
..      ...     ...     ...    ...
4      Male     149      61      3
3    Female     195     104      3
2    Female     185     110      4
1      Male     189      87      2
0      Male     174      96      4

[500 rows x 4 columns]

In [21]:
X_feature=bmidata.iloc[:,0:3]
Y_target=bmidata.iloc[:,3]

In [22]:
X_feature.Gender[X_feature.Gender=="Male"]=1
X_feature.Gender[X_feature.Gender=="Female"]=0

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [23]:
X_feature

    Gender  Height  Weight
0        1     174      96
1        1     189      87
2        0     185     110
3        0     195     104
4        1     149      61
..     ...     ...     ...
495      0     150     153
496      0     184     121
497      0     141     136
498      1     150      95
499      1     173     131

[500 rows x 3 columns]

In [24]:
#transformation
XT_feature=X_feature.values.reshape(500,3)
YT_target=Y_target.values.reshape(500,1)

In [25]:
#data spliting
X_train=XT_feature[:350]
X_test=XT_feature[350:]
Y_train=YT_target[:350]
Y_test=YT_target[350:]

In [26]:
index_name=pd.Series(["extreme","weak","normal","over","obese"])

In [27]:
from sklearn.neighbors import KNeighborsClassifier

In [28]:
teacher=KNeighborsClassifier()

In [29]:
learner=teacher.fit(X_train,Y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  """Entry point for launching an IPython kernel.

In [30]:
#testing
Ya=Y_test
Yb=learner.predict(X_test)

In [31]:
from sklearn.metrics import accuracy_score

In [32]:
acc=accuracy_score(Ya,Yb)*100

In [33]:
acc

91.33333333333333